link(rel="stylesheet" href="//at.alicdn.com/t/font_1451448_u1qno9eeyao.css")
header
  h1 六度空间 · 打造未来互联网的静态博客
  aside
    x-ico
      a.logo.logo-telegram(href="//t.me/hi6du" style="color:#37A7DB")
    x-ico
      a.logo.logo-github(href="//github.com/6du-space/6du" style="color:#000")
    x-ico
      a.logo.logo-weibo(href="//weibo.com/6duspace" style="color:#f00")

template
  template(v-for="i in li")
    template(v-if="typeof(i)=='string'")
      h2.date {{i}}
    li(v-else)
      a.h2(:href="'/'+i[0]") ➟ {{i[1]}}
      section(v-html="i[2]" v-if="i[2]")
